interactions:
- request:
    body: params=%7B%22__conduit__%22%3A+%7B%22token%22%3A+%22123%22%7D%7D&output=json
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://truecode.trueship.com/api/conduit.query
  response:
    body: {string: '{"result":{"almanac.device.edit":{"description":"This is a standard
        **ApplicationEditor** method which allows you to create and modify objects
        by applying transactions. For documentation on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Edit+Endpoints&type=article&jump=1
        | Conduit API: Using Edit Endpoints ]]**.","params":{"transactions":"list\u003cmap\u003cstring,
        wild\u003e\u003e","objectIdentifier":"optional id|phid|string"},"return":"map\u003cstring,
        wild\u003e"},"almanac.device.search":{"description":"This is a standard **ApplicationSearch**
        method which will let you list, query, or search for objects. For documentation
        on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Search+Endpoints&type=article&jump=1
        | Conduit API: Using Search Endpoints ]]**.","params":{"queryKey":"optional
        string","constraints":"optional map\u003cstring, wild\u003e","attachments":"optional
        map\u003cstring, bool\u003e","order":"optional order","before":"optional string","after":"optional
        string","limit":"optional int (default = 100)"},"return":"map\u003cstring,
        wild\u003e"},"almanac.service.edit":{"description":"This is a standard **ApplicationEditor**
        method which allows you to create and modify objects by applying transactions.
        For documentation on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Edit+Endpoints&type=article&jump=1
        | Conduit API: Using Edit Endpoints ]]**.","params":{"transactions":"list\u003cmap\u003cstring,
        wild\u003e\u003e","objectIdentifier":"optional id|phid|string"},"return":"map\u003cstring,
        wild\u003e"},"almanac.service.search":{"description":"This is a standard **ApplicationSearch**
        method which will let you list, query, or search for objects. For documentation
        on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Search+Endpoints&type=article&jump=1
        | Conduit API: Using Search Endpoints ]]**.","params":{"queryKey":"optional
        string","constraints":"optional map\u003cstring, wild\u003e","attachments":"optional
        map\u003cstring, bool\u003e","order":"optional order","before":"optional string","after":"optional
        string","limit":"optional int (default = 100)"},"return":"map\u003cstring,
        wild\u003e"},"audit.query":{"description":"Query audit requests.","params":{"auditorPHIDs":"optional
        list\u003cphid\u003e","commitPHIDs":"optional list\u003cphid\u003e","status":"optional
        string-constant\u003c\"audit-status-any\", \"audit-status-open\", \"audit-status-concern\",
        \"audit-status-accepted\", \"audit-status-partial\"\u003e (default = \"audit-status-any\")","offset":"optional
        int","limit":"optional int (default = 100)"},"return":"list\u003cdict\u003e"},"auth.logout":{"description":"Terminate
        all web login sessions. If called via OAuth, also terminate the current OAuth
        token.\n\nWARNING: This method does what it claims on the label. If you call
        this method via the test console in the web UI, it will log you out!","params":[],"return":"void"},"auth.querypublickeys":{"description":"Query
        public keys.","params":{"ids":"optional list\u003cid\u003e","phids":"optional
        list\u003cphid\u003e","objectPHIDs":"optional list\u003cphid\u003e","keys":"optional
        list\u003cstring\u003e","before":"optional string","after":"optional string","limit":"optional
        int (default = 100)"},"return":"result-set"},"badge.edit":{"description":"This
        is a standard **ApplicationEditor** method which allows you to create and
        modify objects by applying transactions. For documentation on these endpoints,
        see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Edit+Endpoints&type=article&jump=1
        | Conduit API: Using Edit Endpoints ]]**.","params":{"transactions":"list\u003cmap\u003cstring,
        wild\u003e\u003e","objectIdentifier":"optional id|phid|string"},"return":"map\u003cstring,
        wild\u003e"},"badge.search":{"description":"This is a standard **ApplicationSearch**
        method which will let you list, query, or search for objects. For documentation
        on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Search+Endpoints&type=article&jump=1
        | Conduit API: Using Search Endpoints ]]**.","params":{"queryKey":"optional
        string","constraints":"optional map\u003cstring, wild\u003e","attachments":"optional
        map\u003cstring, bool\u003e","order":"optional order","before":"optional string","after":"optional
        string","limit":"optional int (default = 100)"},"return":"map\u003cstring,
        wild\u003e"},"conduit.connect":{"description":"Connect a session-based client.","params":{"client":"required
        string","clientVersion":"required int","clientDescription":"optional string","user":"optional
        string","authToken":"optional int","authSignature":"optional string","host":"deprecated"},"return":"dict\u003cstring,
        any\u003e"},"conduit.getcapabilities":{"description":"List capabilities, wire
        formats, and authentication protocols available on this server.","params":[],"return":"dict\u003cstring,
        any\u003e"},"conduit.getcertificate":{"description":"Retrieve certificate
        information for a user.","params":{"token":"required string","host":"required
        string"},"return":"dict\u003cstring, any\u003e"},"conduit.ping":{"description":"Basic
        ping for monitoring or a health-check.","params":[],"return":"string"},"conduit.query":{"description":"Returns
        the parameters of the Conduit methods.","params":[],"return":"dict\u003cdict\u003e"},"conpherence.createthread":{"description":"Create
        a new conpherence thread.","params":{"title":"required string","topic":"optional
        string","message":"optional string","participantPHIDs":"required list\u003cphids\u003e"},"return":"nonempty
        dict"},"conpherence.edit":{"description":"This is a standard **ApplicationEditor**
        method which allows you to create and modify objects by applying transactions.
        For documentation on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Edit+Endpoints&type=article&jump=1
        | Conduit API: Using Edit Endpoints ]]**.","params":{"transactions":"list\u003cmap\u003cstring,
        wild\u003e\u003e","objectIdentifier":"optional id|phid|string"},"return":"map\u003cstring,
        wild\u003e"},"conpherence.querythread":{"description":"Query for Conpherence
        threads for the logged in user. You can query by IDs or PHIDs for specific
        Conpherence threads. Otherwise, specify limit and offset to query the most
        recently updated Conpherences for the logged in user.","params":{"ids":"optional
        array\u003cint\u003e","phids":"optional array\u003cphids\u003e","limit":"optional
        int","offset":"optional int"},"return":"nonempty dict"},"conpherence.querytransaction":{"description":"Query
        for transactions for the logged in user within a specific Conpherence room.
        You can specify the room by ID or PHID. Otherwise, specify limit and offset
        to query the most recent transactions within the Conpherence room for the
        logged in user.","params":{"roomID":"optional int","roomPHID":"optional phid","limit":"optional
        int","offset":"optional int"},"return":"nonempty dict"},"conpherence.updatethread":{"description":"Update
        an existing conpherence room.","params":{"id":"optional int","phid":"optional
        phid","title":"optional string","message":"optional string","addParticipantPHIDs":"optional
        list\u003cphids\u003e","removeParticipantPHID":"optional phid"},"return":"bool"},"countdown.edit":{"description":"This
        is a standard **ApplicationEditor** method which allows you to create and
        modify objects by applying transactions. For documentation on these endpoints,
        see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Edit+Endpoints&type=article&jump=1
        | Conduit API: Using Edit Endpoints ]]**.","params":{"transactions":"list\u003cmap\u003cstring,
        wild\u003e\u003e","objectIdentifier":"optional id|phid|string"},"return":"map\u003cstring,
        wild\u003e"},"countdown.search":{"description":"This is a standard **ApplicationSearch**
        method which will let you list, query, or search for objects. For documentation
        on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Search+Endpoints&type=article&jump=1
        | Conduit API: Using Search Endpoints ]]**.","params":{"queryKey":"optional
        string","constraints":"optional map\u003cstring, wild\u003e","attachments":"optional
        map\u003cstring, bool\u003e","order":"optional order","before":"optional string","after":"optional
        string","limit":"optional int (default = 100)"},"return":"map\u003cstring,
        wild\u003e"},"dashboard.panel.edit":{"description":"This is a standard **ApplicationEditor**
        method which allows you to create and modify objects by applying transactions.
        For documentation on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Edit+Endpoints&type=article&jump=1
        | Conduit API: Using Edit Endpoints ]]**.","params":{"transactions":"list\u003cmap\u003cstring,
        wild\u003e\u003e","objectIdentifier":"optional id|phid|string"},"return":"map\u003cstring,
        wild\u003e"},"differential.close":{"description":"Close a Differential revision.","params":{"revisionID":"required
        int"},"return":"void"},"differential.createcomment":{"description":"Add a
        comment to a Differential revision.","params":{"revision_id":"required revisionid","message":"optional
        string","action":"optional string","silent":"optional bool","attach_inlines":"optional
        bool"},"return":"nonempty dict"},"differential.creatediff":{"description":"Create
        a new Differential diff.","params":{"changes":"required list\u003cdict\u003e","sourceMachine":"required
        string","sourcePath":"required string","branch":"required string","bookmark":"optional
        string","sourceControlSystem":"required string-constant\u003c\"svn\", \"git\",
        \"hg\"\u003e","sourceControlPath":"required string","sourceControlBaseRevision":"required
        string","creationMethod":"optional string","lintStatus":"required string-constant\u003c\"none\",
        \"skip\", \"okay\", \"warn\", \"fail\"\u003e","unitStatus":"required string-constant\u003c\"none\",
        \"skip\", \"okay\", \"warn\", \"fail\"\u003e","repositoryPHID":"optional phid","parentRevisionID":"deprecated","authorPHID":"deprecated","repositoryUUID":"deprecated"},"return":"nonempty
        dict"},"differential.createinline":{"description":"Add an inline comment to
        a Differential revision.","params":{"revisionID":"optional revisionid","diffID":"optional
        diffid","filePath":"required string","isNewFile":"required bool","lineNumber":"required
        int","lineLength":"optional int","content":"required string"},"return":"nonempty
        dict"},"differential.createrawdiff":{"description":"Create a new Differential
        diff from a raw diff source.","params":{"diff":"required string","repositoryPHID":"optional
        string","viewPolicy":"optional string"},"return":"nonempty dict"},"differential.createrevision":{"description":"Create
        a new Differential revision.","params":{"user":"ignored","diffid":"required
        diffid","fields":"required dict"},"return":"nonempty dict"},"differential.diff.search":{"description":"This
        is a standard **ApplicationSearch** method which will let you list, query,
        or search for objects. For documentation on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Search+Endpoints&type=article&jump=1
        | Conduit API: Using Search Endpoints ]]**.","params":{"queryKey":"optional
        string","constraints":"optional map\u003cstring, wild\u003e","attachments":"optional
        map\u003cstring, bool\u003e","order":"optional order","before":"optional string","after":"optional
        string","limit":"optional int (default = 100)"},"return":"map\u003cstring,
        wild\u003e"},"differential.getcommitmessage":{"description":"Retrieve Differential
        commit messages or message templates.","params":{"revision_id":"optional revision_id","fields":"optional
        dict\u003cstring, wild\u003e","edit":"optional string-constant\u003c\"edit\",
        \"create\"\u003e"},"return":"nonempty string"},"differential.getcommitpaths":{"description":"Query
        which paths should be included when committing a Differential revision.","params":{"revision_id":"required
        int"},"return":"nonempty list\u003cstring\u003e"},"differential.getrawdiff":{"description":"Retrieve
        a raw diff","params":{"diffID":"required diffID"},"return":"nonempty string"},"differential.parsecommitmessage":{"description":"Parse
        commit messages for Differential fields.","params":{"corpus":"required string","partial":"optional
        bool"},"return":"nonempty dict"},"differential.query":{"description":"Query
        Differential revisions which match certain criteria.","params":{"authors":"optional
        list\u003cphid\u003e","ccs":"optional list\u003cphid\u003e","reviewers":"optional
        list\u003cphid\u003e","paths":"optional list\u003cpair\u003ccallsign, path\u003e\u003e","commitHashes":"optional
        list\u003cpair\u003cstring-constant\u003c\"gtcm\", \"gttr\", \"hgcm\"\u003e,
        string\u003e\u003e","status":"optional string-constant\u003c\"status-any\",
        \"status-open\", \"status-accepted\", \"status-needs-review\", \"status-needs-revision\",
        \"status-closed\", \"status-abandoned\"\u003e","order":"optional string-constant\u003c\"order-modified\",
        \"order-created\"\u003e","limit":"optional uint","offset":"optional uint","ids":"optional
        list\u003cuint\u003e","phids":"optional list\u003cphid\u003e","subscribers":"optional
        list\u003cphid\u003e","responsibleUsers":"optional list\u003cphid\u003e","branches":"optional
        list\u003cstring\u003e"},"return":"list\u003cdict\u003e"},"differential.querydiffs":{"description":"Query
        differential diffs which match certain criteria.","params":{"ids":"optional
        list\u003cuint\u003e","revisionIDs":"optional list\u003cuint\u003e"},"return":"list\u003cdict\u003e"},"differential.revision.edit":{"description":"This
        is a standard **ApplicationEditor** method which allows you to create and
        modify objects by applying transactions. For documentation on these endpoints,
        see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Edit+Endpoints&type=article&jump=1
        | Conduit API: Using Edit Endpoints ]]**.","params":{"transactions":"list\u003cmap\u003cstring,
        wild\u003e\u003e","objectIdentifier":"optional id|phid|string"},"return":"map\u003cstring,
        wild\u003e"},"differential.revision.search":{"description":"This is a standard
        **ApplicationSearch** method which will let you list, query, or search for
        objects. For documentation on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Search+Endpoints&type=article&jump=1
        | Conduit API: Using Search Endpoints ]]**.","params":{"queryKey":"optional
        string","constraints":"optional map\u003cstring, wild\u003e","attachments":"optional
        map\u003cstring, bool\u003e","order":"optional order","before":"optional string","after":"optional
        string","limit":"optional int (default = 100)"},"return":"map\u003cstring,
        wild\u003e"},"differential.setdiffproperty":{"description":"Attach properties
        to Differential diffs.","params":{"diff_id":"required diff_id","name":"required
        string","data":"required string"},"return":"void"},"differential.updaterevision":{"description":"Update
        a Differential revision.","params":{"id":"required revisionid","diffid":"required
        diffid","fields":"required dict","message":"required string"},"return":"nonempty
        dict"},"differential.getalldiffs":{"description":"Load all diffs for given
        revisions from Differential.","params":{"revision_ids":"required list\u003cint\u003e"},"return":"dict"},"differential.getdiff":{"description":"Load
        the content of a diff from Differential by revision ID or diff ID.","params":{"revision_id":"optional
        id","diff_id":"optional id"},"return":"nonempty dict"},"differential.getrevision":{"description":"Load
        the content of a revision from Differential.","params":{"revision_id":"required
        id"},"return":"nonempty dict"},"differential.getrevisioncomments":{"description":"Retrieve
        Differential Revision Comments.","params":{"ids":"required list\u003cint\u003e","inlines":"optional
        bool (deprecated)"},"return":"nonempty list\u003cdict\u003cstring, wild\u003e\u003e"},"diffusion.commit.edit":{"description":"This
        is a standard **ApplicationEditor** method which allows you to create and
        modify objects by applying transactions. For documentation on these endpoints,
        see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Edit+Endpoints&type=article&jump=1
        | Conduit API: Using Edit Endpoints ]]**.","params":{"transactions":"list\u003cmap\u003cstring,
        wild\u003e\u003e","objectIdentifier":"optional id|phid|string"},"return":"map\u003cstring,
        wild\u003e"},"diffusion.commit.search":{"description":"This is a standard
        **ApplicationSearch** method which will let you list, query, or search for
        objects. For documentation on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Search+Endpoints&type=article&jump=1
        | Conduit API: Using Search Endpoints ]]**.","params":{"queryKey":"optional
        string","constraints":"optional map\u003cstring, wild\u003e","attachments":"optional
        map\u003cstring, bool\u003e","order":"optional order","before":"optional string","after":"optional
        string","limit":"optional int (default = 100)"},"return":"map\u003cstring,
        wild\u003e"},"diffusion.findsymbols":{"description":"Retrieve Diffusion symbol
        information.","params":{"name":"optional string","namePrefix":"optional string","context":"optional
        string","language":"optional string","type":"optional string","repositoryPHID":"optional
        string"},"return":"nonempty list\u003cdict\u003e"},"diffusion.getrecentcommitsbypath":{"description":"Get
        commit identifiers for recent commits affecting a given path.","params":{"callsign":"required
        string","path":"required string","branch":"optional string","limit":"optional
        int"},"return":"nonempty list\u003cstring\u003e"},"diffusion.querycommits":{"description":"Retrieve
        information about commits.","params":{"ids":"optional list\u003cint\u003e","phids":"optional
        list\u003cphid\u003e","names":"optional list\u003cstring\u003e","repositoryPHID":"optional
        phid","needMessages":"optional bool","bypassCache":"optional bool","before":"optional
        string","after":"optional string","limit":"optional int (default = 100)"},"return":"map\u003cstring,
        dict\u003e"},"diffusion.repository.edit":{"description":"This is a standard
        **ApplicationEditor** method which allows you to create and modify objects
        by applying transactions. For documentation on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Edit+Endpoints&type=article&jump=1
        | Conduit API: Using Edit Endpoints ]]**.","params":{"transactions":"list\u003cmap\u003cstring,
        wild\u003e\u003e","objectIdentifier":"optional id|phid|string"},"return":"map\u003cstring,
        wild\u003e"},"diffusion.repository.search":{"description":"This is a standard
        **ApplicationSearch** method which will let you list, query, or search for
        objects. For documentation on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Search+Endpoints&type=article&jump=1
        | Conduit API: Using Search Endpoints ]]**.","params":{"queryKey":"optional
        string","constraints":"optional map\u003cstring, wild\u003e","attachments":"optional
        map\u003cstring, bool\u003e","order":"optional order","before":"optional string","after":"optional
        string","limit":"optional int (default = 100)"},"return":"map\u003cstring,
        wild\u003e"},"diffusion.uri.edit":{"description":"This is a standard **ApplicationEditor**
        method which allows you to create and modify objects by applying transactions.
        For documentation on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Edit+Endpoints&type=article&jump=1
        | Conduit API: Using Edit Endpoints ]]**.","params":{"transactions":"list\u003cmap\u003cstring,
        wild\u003e\u003e","objectIdentifier":"optional id|phid|string"},"return":"map\u003cstring,
        wild\u003e"},"diffusion.blame":{"description":"Get blame information for a
        list of paths.","params":{"paths":"required list\u003cstring\u003e","commit":"required
        string","timeout":"optional int","callsign":"optional string (deprecated)","repository":"optional
        string","branch":"optional string"},"return":"map\u003cstring, wild\u003e"},"diffusion.branchquery":{"description":"Determine
        what branches exist for a repository.","params":{"closed":"optional bool","limit":"optional
        int","offset":"optional int","contains":"optional string","callsign":"optional
        string (deprecated)","repository":"optional string","branch":"optional string"},"return":"list\u003cdict\u003e"},"diffusion.browsequery":{"description":"File(s)
        information for a repository at an (optional) path and (optional) commit.","params":{"path":"optional
        string","commit":"optional string","needValidityOnly":"optional bool","limit":"optional
        int","offset":"optional int","callsign":"optional string (deprecated)","repository":"optional
        string","branch":"optional string"},"return":"array"},"diffusion.commitparentsquery":{"description":"Get
        the commit identifiers for a commit''s parent or parents.","params":{"commit":"required
        string","callsign":"optional string (deprecated)","repository":"optional string","branch":"optional
        string"},"return":"list\u003cstring\u003e"},"diffusion.diffquery":{"description":"Get
        diff information from a repository for a specific path at an (optional) commit.","params":{"path":"required
        string","commit":"optional string","callsign":"optional string (deprecated)","repository":"optional
        string","branch":"optional string"},"return":"array"},"diffusion.existsquery":{"description":"Determine
        if code exists in a version control system.","params":{"commit":"required
        string","callsign":"optional string (deprecated)","repository":"optional string","branch":"optional
        string"},"return":"bool"},"diffusion.filecontentquery":{"description":"Retrieve
        file content from a repository.","params":{"path":"required string","commit":"required
        string","timeout":"optional int","byteLimit":"optional int","callsign":"optional
        string (deprecated)","repository":"optional string","branch":"optional string"},"return":"array"},"diffusion.getlintmessages":{"description":"Get
        lint messages for existing code.","params":{"repositoryPHID":"required phid","branch":"required
        string","commit":"optional string","files":"required list\u003cstring\u003e"},"return":"list\u003cdict\u003e"},"diffusion.historyquery":{"description":"Returns
        history information for a repository at a specific commit and path.","params":{"commit":"required
        string","against":"optional string","path":"required string","offset":"required
        int","limit":"required int","needDirectChanges":"optional bool","needChildChanges":"optional
        bool","callsign":"optional string (deprecated)","repository":"optional string","branch":"optional
        string"},"return":"array"},"diffusion.internal.gitrawdiffquery":{"description":"Internal
        method for getting raw diff information.","params":{"commit":"required string","callsign":"optional
        string (deprecated)","repository":"optional string","branch":"optional string"},"return":"string"},"diffusion.lastmodifiedquery":{"description":"Get
        the commits at which paths were last modified.","params":{"paths":"required
        map\u003cstring, string\u003e","callsign":"optional string (deprecated)","repository":"optional
        string","branch":"optional string"},"return":"map\u003cstring, string\u003e"},"diffusion.looksoon":{"description":"Advises
        Phabricator to look for new commits in a repository as soon as possible. This
        advice is most useful if you have just pushed new commits to that repository.","params":{"callsigns":"optional
        list\u003cstring\u003e (deprecated)","repositories":"optional list\u003cstring\u003e","urgency":"optional
        string"},"return":"void"},"diffusion.mergedcommitsquery":{"description":"Merged
        commit information for a specific commit in a repository.","params":{"commit":"required
        string","limit":"optional int","callsign":"optional string (deprecated)","repository":"optional
        string","branch":"optional string"},"return":"array"},"diffusion.querypaths":{"description":"Filename
        search on a repository.","params":{"path":"required string","commit":"required
        string","pattern":"optional string","limit":"optional int","offset":"optional
        int","callsign":"optional string (deprecated)","repository":"optional string","branch":"optional
        string"},"return":"list\u003cstring\u003e"},"diffusion.rawdiffquery":{"description":"Get
        raw diff information from a repository for a specific commit at an (optional)
        path.","params":{"commit":"required string","path":"optional string","linesOfContext":"optional
        int","againstCommit":"optional string","timeout":"optional int","byteLimit":"optional
        int","callsign":"optional string (deprecated)","repository":"optional string","branch":"optional
        string"},"return":"string"},"diffusion.refsquery":{"description":"Query a
        git repository for ref information at a specific commit.","params":{"commit":"required
        string","callsign":"optional string (deprecated)","repository":"optional string","branch":"optional
        string"},"return":"array"},"diffusion.resolverefs":{"description":"Resolve
        references into stable, canonical identifiers.","params":{"refs":"required
        list\u003cstring\u003e","types":"optional list\u003cstring\u003e","callsign":"optional
        string (deprecated)","repository":"optional string","branch":"optional string"},"return":"dict\u003cstring,
        list\u003cdict\u003cstring, wild\u003e\u003e\u003e"},"diffusion.searchquery":{"description":"Search
        (grep) a repository at a specific path and commit.","params":{"path":"required
        string","commit":"optional string","grep":"required string","limit":"optional
        int","offset":"optional int","callsign":"optional string (deprecated)","repository":"optional
        string","branch":"optional string"},"return":"array"},"diffusion.tagsquery":{"description":"Retrieve
        information about tags in a repository.","params":{"names":"optional list\u003cstring\u003e","commit":"optional
        string","needMessages":"optional bool","offset":"optional int","limit":"optional
        int","callsign":"optional string (deprecated)","repository":"optional string","branch":"optional
        string"},"return":"array"},"diffusion.updatecoverage":{"description":"Publish
        coverage information for a repository.","params":{"repositoryPHID":"required
        phid","branch":"required string","commit":"required string","coverage":"required
        map\u003cstring, string\u003e","mode":"optional string-constant\u003c\"overwrite\",
        \"update\"\u003e"},"return":"void"},"drydock.authorization.search":{"description":"This
        is a standard **ApplicationSearch** method which will let you list, query,
        or search for objects. For documentation on these endpoints, see **[[ https:\/\/secure.phabricator.com\/diviner\/find\/?name=Conduit+API%3A+Using+Search+Endpoints&type=article&jump=1
        | Conduit API: Using Search Endpoints ]]**.","params":{"queryKey":"optional
        string","constraints":"optional map\u003cstring, wild\u003e","attachments":"optional
        map\u003cstring, bool\u003e","order":"optional order","before":"optional string","after":"optional
        string","limit":"optional int (default = 100)"},"return":"map\u003cstring,
        wild\u003e"},"drydock.blueprint.edit":{"description":"This is a standard **ApplicationEditor**
[...]
