interactions:
- request:
    body: output=json&params=%7B%22__conduit__%22%3A+%7B%22token%22%3A+%22123%22%7D%2C+%22constraints%22%3A+%7B%22name%22%3A+%22Accepted%22%7D%7D
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://truecode.trueship.com/api/project.search
  response:
    body: {string: '{"result":{"data":[{"id":181,"type":"PROJ","phid":"PHID-PROJ-72kxzxxqoak5bp2llx3m","fields":{"name":"Accepted","slug":"accepted","milestone":null,"depth":0,"parent":null,"icon":{"key":"tag","name":"Tag","icon":"fa-tags"},"color":{"key":"green","name":"Green"},"dateCreated":1518712842,"dateModified":1518712842,"policy":{"view":"users","edit":"users","join":"users"},"description":null},"attachments":{}}],"maps":{"slugMap":{}},"query":{"queryKey":null},"cursor":{"limit":100,"after":null,"before":null,"order":null}},"error_code":null,"error_info":null}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: output=json&params=%7B%22attachments%22%3A+%7B%22columns%22%3A+true%2C+%22projects%22%3A+true%7D%2C+%22__conduit__%22%3A+%7B%22token%22%3A+%22123%22%7D%2C+%22constraints%22%3A+%7B%22ids%22%3A+%5B3135%5D%7D%7D
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://truecode.trueship.com/api/maniphest.search
  response:
    body: {string: '{"result":{"data":[{"id":3135,"type":"TASK","phid":"PHID-TASK-zjxys23b7zuuojohnfrl","fields":{"name":"Make
        BigCommerce logging (GL) useable","description":{"raw":"From [[ https:\/\/www.flowdock.com\/app\/trueship\/apps\/threads\/UUQHGJtp5W-I7E_zQXdW_8T4n5a
        | this thread ]], @gcicalini noticed that BC logging to GL is totally flawed
        and completely unusable- said this should be outstanding priority over all
        other BC features. The source in GL is a random string of gibberish. Additionally,
        some logs are only in the container, and so are lost forever when we deploy.
        These problems need to be fixed"},"authorPHID":"PHID-USER-rbmakob2u5heiub2dckt","ownerPHID":"PHID-USER-7fyatlmpgidzxhovnsbl","status":{"value":"open","name":"Open","color":null},"priority":{"value":90,"subpriority":0,"name":"Needs
        Triage","color":"violet"},"points":"1","subtype":"default","closerPHID":null,"dateClosed":null,"spacePHID":"PHID-SPCE-f6z3tzwer76orrxduf4u","dateCreated":1517346348,"dateModified":1518818850,"policy":{"view":"users","interact":"users","edit":"users"}},"attachments":{"columns":{"boards":{"PHID-PROJ-4ifm4xnvp6ip4ahhetvu":{"columns":[{"id":911,"phid":"PHID-PCOL-ce2yr5rbn3up7bgpsaop","name":"To
        Deploy"}]},"PHID-PROJ-uqzdtbif7qhzjqb6zr4w":{"columns":[{"id":460,"phid":"PHID-PCOL-bxlu2pwf4aclml42mpos","name":"Backlog"}]},"PHID-PROJ-oh37f4rlhg5kpfmywbh2":{"columns":[{"id":913,"phid":"PHID-PCOL-eoourq566zvhfjbqqqcn","name":"Sprint
        17"}]}}},"projects":{"projectPHIDs":["PHID-PROJ-segawqxql2j3qedl7cqc","PHID-PROJ-4ifm4xnvp6ip4ahhetvu","PHID-PROJ-uqzdtbif7qhzjqb6zr4w","PHID-PROJ-oh37f4rlhg5kpfmywbh2"]}}}],"maps":{},"query":{"queryKey":null},"cursor":{"limit":100,"after":null,"before":null,"order":null}},"error_code":null,"error_info":null}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: output=json&params=%7B%22types%22%3A+%5B%22task.revision%22%5D%2C+%22sourcePHIDs%22%3A+%5B%22PHID-TASK-zjxys23b7zuuojohnfrl%22%5D%2C+%22__conduit__%22%3A+%7B%22token%22%3A+%22123%22%7D%7D
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://truecode.trueship.com/api/edge.search
  response:
    body: {string: '{"result":{"data":[{"sourcePHID":"PHID-TASK-zjxys23b7zuuojohnfrl","edgeType":"task.revision","destinationPHID":"PHID-DREV-ho6mpcwndp5cibqcqtnf"}],"cursor":{"limit":100,"after":null,"before":null}},"error_code":null,"error_info":null}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: output=json&params=%7B%22__conduit__%22%3A+%7B%22token%22%3A+%22123%22%7D%2C+%22constraints%22%3A+%7B%22phids%22%3A+%5B%22PHID-DREV-ho6mpcwndp5cibqcqtnf%22%5D%7D%7D
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://truecode.trueship.com/api/differential.revision.search
  response:
    body: {string: '{"result":{"data":[{"id":4363,"type":"DREV","phid":"PHID-DREV-ho6mpcwndp5cibqcqtnf","fields":{"title":"Make
        BigCommerce logging (GL) useable","authorPHID":"PHID-USER-7fyatlmpgidzxhovnsbl","status":{"value":"published","name":"Closed","closed":true,"color.ansi":"cyan"},"repositoryPHID":"PHID-REPO-gpgbclnawmhuq5mskoa6","diffPHID":"PHID-DIFF-opilc44xe2sto2gf6ij5","summary":"Fix
        for https:\/\/truecode.trueship.com\/T3135.\n\nBigCommerce Logging was not
        useable;\n1. The \"source\" field is graylog was gibberish.\n**Solution**:
        The source field was the docker container ID. Fixed in diff https:\/\/truecode.trueship.com\/D4274
        \n2. Some logs appear in console but not in graylog\n**Solution**: Changed
        log level to debug for ''graypy'' log handler.","dateCreated":1517984711,"dateModified":1518655412,"policy":{"view":"PHID-PROJ-2zg46vukl72wslzcv3gt","edit":"PHID-PROJ-2zg46vukl72wslzcv3gt"}},"attachments":{}}],"maps":{},"query":{"queryKey":null},"cursor":{"limit":100,"after":null,"before":null,"order":null}},"error_code":null,"error_info":null}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: output=json&params=%7B%22transactions%22%3A+%5B%7B%22type%22%3A+%22projects.add%22%2C+%22value%22%3A+%5B%22PHID-PROJ-t2mvgyqoolxpakgeyngn%22%5D%7D%2C+%7B%22type%22%3A+%22projects.remove%22%2C+%22value%22%3A+%5B%22PHID-PROJ-segawqxql2j3qedl7cqc%22%5D%7D%5D%2C+%22__conduit__%22%3A+%7B%22token%22%3A+%22123%22%7D%2C+%22objectIdentifier%22%3A+%22PHID-TASK-zjxys23b7zuuojohnfrl%22%7D
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://truecode.trueship.com/api/maniphest.edit
  response:
    body: {string: '{"result":{"object":{"id":"3135","phid":"PHID-TASK-zjxys23b7zuuojohnfrl"},"transactions":[{"phid":"PHID-XACT-TASK-aw7jyli3cu5ykru"}]},"error_code":null,"error_info":null}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
